
@{
    ViewData["Title"] = "About us";
}

<div class="about-us-page">
    <!-- Заголовок -->
    <div class="about-us-title-block">
        <h1 class="about-us-title"> Про нас</h1>
    </div>

    <!-- Про нас - перший блок -->
    <div class="about-us-body">
        <div class="container">
            <h2 class="about-us-subtitle border-bottom">Наша історія</h2>
            <div class="about-us-description-1">
                <p class="about-us-description-text-1">
                    Піцерія «Street Pizza» — для нас це не просто бізнес! Ми любимо справу, якою займаємось,
                    живемо нею і щодня працюємо над тим, щоб робити вас, наших клієнтів, щасливішими.
                </p>
                <p class="about-us-description-text-1">
                    Протягом 8-ми років ми з маленького “кіоска” стали сильним і відомим брендом у нашому рідному
                    місті…і це лише початок. Ми знаємо, що рухаємось в правильному напрямку, про це свідчить число
                    наших постійних клієнтів, яке постійно зростає. Вже більше 50 000 поціновувачів піци в Рівному
                    обирають «Street Pizza»! Для нас це велика честь і велика відповідальність. Тому ми постійно
                    працюємо над нашими сильними сторонами, а також над помилками, адже ніхто не ідеальний, проте
                    ми таки прагнемо досконалості в своїй справі.
                </p>
            </div>
            <div>
                <img class ="about-us-photo" src="~/img/main-about-2.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>

    <!-- Про нас - другий блок -->
    <div class="about-us-body-2 p-0 border-top border-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <div>
                        <img class="about-us-photo" src="~/img/main-about-1.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col-md-6 about-us-description-2">
                    <h2 class="about-us-subtitle-2">
                        Наші переваги:
                    </h2>
                    <div>
                        <div class="about-us-description-text-2">
                            <h4>НАЙСВІЖІШІ ПРОДУКТИ</h4>
                            <p class="about-us-description-text-2 border-bottom">
                                «Street Pizza» використовує лише найсвіжіші та найсмачніші продукти. Ми співпрацюємо з українськими
                                виробниками і постачальниками, тому всі інгредієнти – овочі, сири, м’ясо є натуральними та
                                екологічно чистими.
                            </p>
                        </div>
                        <div class="about-us-description-text-2">
                            <h4>ШВИДКА ДОСТАВКА</h4>
                            <p class="about-us-description-text-2 border-bottom">
                                Друга перевага і показник репутації серед клієнтів – це наша доставка піци, вона ж служба порятунку
                                від голоду, яка завжди напоготові – 24 години на добу, 7 днів на тиждень і є найшвидшою в Рівному.
                            </p>
                        </div>
                        <div class="about-us-description-text-2">
                            <h4>НАЗУСТРІЧ ВАМ</h4>
                            <p class="about-us-description-text-2 border-bottom">
                                Ми щодня даруємо вам безліч акцій та подарунків, адже любимо вас і хочемо ділитись найкращим, що в
                                нас є – нашою піцою. Спробувавши нашу піцу один раз, ви повернетесь знову – так ми стаємо друзями з нашими
                                клієнтами.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Про нас - третій блок -->
    <div class="about-us-body">
        <div class="container">
            <h2 class="about-us-subtitle border-bottom">Особливість нашої піцерії</h2>
            <div class="about-us-description-3">
                <p class="about-us-description-text-1">
                    Відкрита кухня дозволяє гостям спостерігати за роботою шеф-кухарів, а досвідчені кухарі готують піцу
                    прямо перед вашими очима! До речі, нашу кухню можна побачити навіть з вікон вулиці, тож гості, які
                    відпочивають на терасі, також можуть спостерігати за роботою наших майстрів! Наша піцерія в Рівному
                    має приємний дизайн та невимушену атмосферу, що допомагає швидко розслабитися та насолодитися відпочинком
                    із сім’єю. Також вам не потрібно залишати своє робоче місце чи затишну квартиру, щоб добре харчуватися, адже
                    тепер наша піца з доставкою! Постійні клієнти та члени ІТ-клубу отримують дисконтні картки, за допомогою
                    яких ви можете заощадити на наступні замовлення. Чекаємо у "Street Pizza"!
                </p>
            </div>
            <div>
                <img class="about-us-photo" src="~/img/main-about-3.jpg" alt="Alternate Text" />
            </div>
            
        </div>
    </div>

    <!-- Про нас - четвертий блок -->
    <div class="about-us-body-2 border-top">
        <div class="container">
            <div class="about-us-description-3 border-bottom">
                <h4 class="about-us-description-text-3">
                    «Street Pizza» може ще довго і багато писати про свої переваги, але ж ви прийшли сюди,
                    тому що хочете смачної гарячої піци, чи не так? Тому радимо вам один раз спробувати і переконатись,
                    ніж сто разів прочитати це, залишаючись голодним!
                </h4>
            </div>
            <div class="row">
                <div class="btn-menu-block">
                    <a asp-controller="Menu" asp-action="Index" class="btn-first btn-color-first">В меню</a>
                </div>
            </div>
        </div>
    </div>
</div>
