@model StreetPizza.ViewModels.CreateProductsViewModel

<div class="createproducts">
    <div class="container">

        <section class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">

                <form enctype="multipart/form-data" asp-controller="CreateProducts" asp-action="CreateProduct" method="post" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label asp-for="Category" class="col-sm-3 control-label">Категорія</label>
                        <div class="col-sm-9">
                            <input asp-for="Category" type="text" class="form-control" placeholder="Виберіть категорію">
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div> <!-- form-group // -->
                    <div class="form-group">
                        <label asp-for="Name" class="col-sm-3 control-label">Назва продукту</label>
                        <div class="col-sm-9">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Назва">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div> <!-- form-group // -->
                    <div class="form-group">
                        <label asp-for="Ingredients" class="col-sm-3 control-label">Інгредієнти</label>
                        <div class="col-sm-9">
                            <textarea asp-for="Ingredients" class="form-control"></textarea>
                            <span asp-validation-for="Ingredients" class="text-danger"></span>
                        </div>
                    </div> <!-- form-group // -->
                    <div class="form-group">
                        <label asp-for="PriceLarge" class="col-sm-3 control-label">Ціна</label>
                        <div class="col-sm-3">
                            <input asp-for="PriceLarge" type="text" class="form-control" placeholder="грн.">
                            <span asp-validation-for="PriceLarge" class="text-danger"></span>
                        </div>
                    </div> <!-- form-group // -->
                    <div class="form-group">
                        <label asp-for="Img" class="col-sm-3 col-form-label">Завантажити картинку</label>
                        <div class="col-sm-5">
                            <div class="custom-file">
                                <input asp-for="Img" class="form-control custom-file-input">
                                <label class="custom-file-label">Виберіть файл...</label>
                            </div>
                        </div>

                    </div> <!-- form-group // -->

                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit">Зберегти</button>
                        </div>
                    </div> <!-- form-group // -->
                </form>

            </div><!-- panel-body // -->
        </section><!-- panel// -->


    </div> <!-- container// -->
</div>