@model StreetPizza.Data.Models.Product

<h1>Are you sure you want to delete the product?</h1>

<form enctype="multipart/form-data" asp-controller="CreateProducts" asp-action="Delete" asp-route-id="@model.Id" class="mt-3">

    <div class="form-group row">
        <button type="submit" class="btn btn-info">Delete</button>
        <a asp-controller="Menu" asp-action="Index" class="btn btn-info">Cancel</a>
    </div>
</form>

