@{
    ViewData["Title"] = "Home Page";
}

<main>
    <!-- Блок з початковою картинкою -->
    <div class="homepage-main-intro">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 homepage-main-intro-text">
                    <h1>Street Pizza</h1>
                    <h2>the best pizza<span class="intro-text-h2-accent"> in the world</span></h2>
                </div>
                <div class="col-md-7 homepage-main-intro-image"></div>
            </div>
        </div>
    </div>

    <!-- Блок з контактною інформацією -->
    <div class="homepage-call-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3 call-info-block">
                    <div class="call-info-icon">
                        <i class="fa fa-3x fa-volume-control-phone" aria-hidden="true"></i>
                    </div>
                    <div class="call-info-text">
                        <div class="call-info-text-callus">
                            Call us now for<br />
                        </div>
                        <div class="call-info-text-accent">Home delivery</div>
                    </div>
                </div>
                <div class="col-md-3 call-info-block call-info-number">
                    1-008 005 006
                </div>
            </div>
        </div>
    </div>

    <!-- Блок About -->
    <div class="homepage-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title-secondary-color">About us</h2>
                    <p class="homepage-about-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
                        sapiente odio laudantium
                        nemo atque doloribus sit quam voluptatum ipsa vero, dolore modi? Eligendi, debitis unde, rerum
                        sequi eius illum molestias ab porro commodi modi velit beatae ad excepturi impedit, recusandae
                        et blanditiis qui amet libero? Esse excepturi, perspiciatis omnis nobis unde quasi, quidem
                        consectetur porro sequi tenetur corrupti eius illo aliquid voluptatem qui cumque dolore eum
                        aspernatur dolorem assumenda blanditiis rerum.
                    </p>
                    <button>Read more</button>
                </div>
                <div class="col-md-6 homepage-about-image-block">
                    <div class="about-image-item about-image-item-1">
                    </div>
                    <div class="about-image-item about-image-item-2">
                    </div>
                    <div class="about-image-item about-image-item-3">
                    </div>
                    <div class="about-image-item about-image-item-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок Today special -->
    <div class="homepage-today">
        <div class="container">
            <div class="homepage-title">
                <h2>Today special</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="homepage-today-block">
                        <div class="homepage-today-item">
                            <div class="today-item-image today-item-image-1">
                            </div>
                            <div class="today-item-info">
                                <h3 class="today-item-name">Food name one</h3>
                                <p class="today-item-description border-bottom">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Pariatur a quam molestiae
                                    aspernatur dignissimos nulla reiciendis non itaque, quis ab?
                                </p>
                                <div class="today-item-price-phone">
                                    <div class="today-item-home">
                                        HOME <br />
                                        <span class="today-item-delivery">DELIVERY</span>
                                    </div>
                                    <div class="today-item-phone">
                                        1-008 005 006
                                    </div>
                                    <div class="today-item-price">
                                        89.00
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="homepage-today-item">
                            <div class="today-item-image today-item-image-2">
                            </div>
                            <div class="today-item-info">
                                <h3 class="today-item-name">Food name two</h3>
                                <p class="today-item-description border-bottom">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Pariatur a quam molestiae
                                    aspernatur dignissimos nulla reiciendis non itaque, quis ab?
                                </p>
                                <div class="today-item-price-phone">
                                    <div class="today-item-home">
                                        HOME <br />
                                        <span class="today-item-delivery">DELIVERY</span>
                                    </div>
                                    <div class="today-item-phone">
                                        1-008 005 006
                                    </div>
                                    <div class="today-item-price">
                                        89.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок Menu -->
    <div class="homepage-menu">
        <div class="container">

            <div class="homepage-title">
                <h2 class="title-secondary-color border-bottom">Menu</h2>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="homepage-menu-item border-bottom">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                MARGARITA
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            56.00
                        </div>
                    </div>

                    <div class="homepage-menu-item border-bottom">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                TUNA
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            73.00
                        </div>
                    </div>

                    <div class="homepage-menu-item border-bottom">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                4 CHEESES
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            84.00
                        </div>
                    </div>

                    <div class="homepage-menu-item">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                PEPPERONI
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            77.00
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="homepage-menu-item border-bottom">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                SALAMI
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            71.00
                        </div>
                    </div>

                    <div class="homepage-menu-item border-bottom">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                CALZONE
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            64.00
                        </div>
                    </div>

                    <div class="homepage-menu-item border-bottom">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                CHICKEN
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            70.00
                        </div>
                    </div>

                    <div class="homepage-menu-item">
                        <div class="menu-item-left-part">
                            <h4 class="menu-item-name">
                                HAM & PINEAPPLE
                            </h4>
                            <p class="menu-item-recipe">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis reiciendis iusto,
                                praesentium!
                            </p>
                        </div>
                        <div class="menu-item-price">
                            92.00
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="homepage-menu-readmore">
                    <button>Read more</button>
                </div>
            </div>
        </div>
    </div>
</main>