@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <!-- Блок з початковою картинкою -->
    <div class="homepage-main-intro">
        <div class="container">
            <div class="intro-title-block">
                <h1 class="intro-title">Street Pizza</h1>
                <h2 class="intro-subtitle">найсмачніша піца</h2>
                <h2 class="intro-subtitle-accent">спробуй емоції на смак</h2>
            </div>
        </div>
    </div>

    <!-- Блок з контактною інформацією -->
    <div class="homepage-call-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3 call-info-block">
                    <div class="call-info-icon">
                        <i class="fa fa-3x fa-volume-control-phone" aria-hidden="true"></i>
                    </div>
                    <div class="call-info-text">
                        <div class="call-info-text-callus">
                            Телефонуйте для<br />
                        </div>
                        <div class="call-info-text-accent">доставки додому</div>
                    </div>
                </div>
                <div class="col-md-3 call-info-block call-info-number">
                    0 (31) 99-109-11
                </div>
            </div>
        </div>
    </div>

    <!-- Блок About -->
    <div class="homepage-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h2 class="homepage-about-title">Про нас</h2>

                    @*<p class="homepage-about-text">
                        Піццерія «Street Pizza» - для нас це не просто бізнес! Ми любимо справу, якою займаємось,
                        живемо нею і кожен день працюємо над тим, що робимо вас, наших клієнтів, щасливішими.
                    </p>*@
                    <p class="homepage-about-text">
                        Протягом 8-ми років ми з маленького “кіоска” стали сильним і відомим брендом у нашому 
                        рідному місті…і це лише початок. Ми знаємо, що рухаємось в правильному напрямку, 
                        про це свідчить число наших постійних клієнтів, яке постійно зростає. Вже більше 
                        50 000 поціновувачів піци в Рівному обирають «Street Pizza»! Для нас це велика честь 
                        і велика відповідальність. Тому ми постійно працюємо над нашими сильними сторонами, 
                        а також над помилками, адже ніхто не ідеальний, проте ми таки прагнемо досконалості 
                        в своїй справі.
                    </p>
                    <a asp-controller="AboutUs" class="btn-first btn-color-first">Детальніше</a>
                </div>
                <div class="col-md-6 homepage-about-image-block">
                    <div class="about-image-item about-image-item-1">
                    </div>
                    <div class="about-image-item about-image-item-2">
                    </div>
                    <div class="about-image-item about-image-item-3">
                    </div>
                    <div class="about-image-item about-image-item-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Блок Today special -->
    <div class="homepage-today">
        <div class="container">

            <h2 class="title-secondary-style">Найбільш популярні</h2>

            <div class="homepage-today-block">
                @foreach (var item in Model.FavoriteProducts)
                {
                    @await Html.PartialAsync("ProductItemGrid", item)
                }
            </div>
        </div>
    </div>

    <!-- Блок Menu -->
    <div class="homepage-menu">
        <div class="container">

            <h2 class="title-primary-style border-bottom">Меню</h2>

            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-6">
                        @await Html.PartialAsync("ProductItemList", item)
                    </div>
                }
            </div>
            <div class="row">
                <div class="homepage-menu-readmore">
                    <a class="btn-first btn-color-first" asp-controller="Menu" asp-action="Index">
                        Детальніше
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>