@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<div class="log-reg-page">
    <div class="container">
        <hr class="log-reg-text-line" />

        <div class="col-xl-6 col-lg-7 col-md-9" id="log-reg-body">
            <div class="log-reg-title-block">
                <h2 class="log-reg-title">Administration page</h2>
                <hr class="log-reg-text-line" id="short-line" />
                <p class="log-reg-subtitle">@ViewBag.Title</p>
            </div>
            <a class="btn-first btn-color-first btn-round"
               asp-controller="Administration" asp-action="CreateRole">
                Add new role
            </a>

            <hr class="log-reg-text-line" />

            @if (Model.Any())
            {
                foreach (var role in Model)
                {
                    <div class="card">
                        <div class="card-header log-reg-label">
                            RoleId: @role.Id
                        </div>
                        <div class="card-body log-reg-label">
                            <h5> RoleName: @role.Name</h5>
                        </div>
                        <div class="card-footer">
                            <a class="btn-first btn-warning btn-round"
                               asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                                Edit
                            </a>
                            <a href="#" class="btn-first btn-danger btn-round">Delete</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        No roles
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Use the button below to create a role</h5>
                    </div>
                </div>
            }
        </div>

        <hr class="log-reg-text-line" />
    </div>
</div>