<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-logo">
                    <a class="header-link">
                        StreetPizza
                    </a>
                </div>
            </div>
            <div class="col-md-9 nav">
                <nav>
                    <a class="nav-link">About</a>
                    <a class="nav-link">Menu</a>
                    <a class="nav-link">
                        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>