<main>
    <div class="homepage-main-intro">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 homepage-main-intro-text">
                    <h1>Street Pizza</h1>
                    <h2>the best pizza<span class="accent-text"> in the world</span></h2>
                </div>
                <div class="col-md-7 homepage-main-intro-image"></div>
            </div>
        </div>
    </div>
    <div class="homepage-call-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3 call-info-block">
                    <div class="call-info-icon">
                        <i class="fa fa-3x fa-volume-control-phone" aria-hidden="true"></i>
                    </div>
                    <div class="call-info-text">
                        <div class="call-info-text-callus">
                            Call us now for<br />
                        </div>
                        <div class="call-info-text-accent">Home delivery</div>
                    </div>
                </div>
                <div class="col-md-3 call-info-block call-info-number">
                    1-008 005 006
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="homepage-about-title">About us</h2>
                    <p class="homepage-about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
                        sapiente odio laudantium
                        nemo atque doloribus sit quam voluptatum ipsa vero, dolore modi? Eligendi, debitis unde, rerum
                        sequi eius illum molestias ab porro commodi modi velit beatae ad excepturi impedit, recusandae
                        et blanditiis qui amet libero? Esse excepturi, perspiciatis omnis nobis unde quasi, quidem
                        consectetur porro sequi tenetur corrupti eius illo aliquid voluptatem qui cumque dolore eum
                        aspernatur dolorem assumenda blanditiis rerum.</p>
                    <button>Read more</button>
                </div>
                <div class="col-md-6 homepage-about-image-block">
                    <div class="image-item image-item-1">
                    </div>
                    <div class="image-item image-item-2">
                    </div>
                    <div class="image-item image-item-3">
                    </div>
                    <div class="image-item image-item-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>