
@{
    ViewData["Title"] = "Index";
}

<div class="paydel-page">
    <h1 class="paydel-title">Payment and Delivery</h1>
    <hr class="paydel-text-line"/>
    <div class="paydel-body">
        <div class="container">
            <p class="paydel-text">Do you want to order pizza with delivery in your city? Contact StreetPizza. We work according to international standards, delivering to customers not just special dishes, but real pleasure. It's time to enjoy the incredible taste and low prices!</p>
            <hr class="paydel-text-line" />
            <h1 class="paydel-subtitle">Food delivery in your city from StreetPizza</h1>
            <div class="delivery-photo-cont">
                <img src="~/img/delivery_photo.png" alt="Alternate Text" />
            </div>
            <p class="paydel-subtitle-text"> We are constantly evolving to give our customers pleasant surprises. Today we offer the following terms of delivery:</p>
            <div class="paydel_terms">
                <ol>
                    <li>Orders are accepted from 10am to 10pm</li>
                    <li>Delivery is free. Enjoy even greater savings.</li>
                    <li>The minimum order amount is UAH 200. within the city. At low prices you get large portions of very tasty food.</li>
                    <li>Convenient service. Orders can be made on the website or by calling us.</li>
                    <li>Convenient payment system. It is up to you to pay upon receipt in cash, or in advance, by transferring funds to a bank card.</li>
                    <li>-10% discount for self-pickup - save on the cost of the entire order.</li>
                </ol>
            </div>
            <hr class="paydel-text-line" />
            <p class="paydel-text">Thermal delivery may vary. We do not tolerate compromises from eggs, so as not to use preforms and frozen foods. After all, it is important that the food was fresh and delicious. I prepare all dishes without cakes after receiving the order from the client. Therefore, there may be small delays per hour. The operator will inform you about it.</p>
            <hr class="paydel-text-line" />
            <p class="paydel-text">If you had to wait for an order longer than the specified time without notice - accept our sincere apologies and compensation in the form of a coupon for the company roll. Now sushi and pizza with delivery in Rivne will taste even better! Kvadrat Sushi & Pizza - enjoy incredibly delicious meals with us!</p>
        </div>
    </div>
</div>