h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-family: var(--font-family--second);
    font-size: 72px;
    color: var(--font--color-primary-4);
}

h2 {
    font-family: var(--font-family--second);
    font-size: 35px;
    color: var(--font--color-primary-4);
}

h3 {
    font-family: var(--font-family--second);
    font-size: 26px;
    color: var(--font--color-primary-3);
}

h4 {
    font-family: var(--font-family--first);
    font-size: 16px;
    color: var(--font--color-primary-3);
}

p {
    font-family: var(--font-family--first);
    font-size: 14px;
    color: var(--font--color-primary-5);
}

body {
    font-family: var(--font-family--first);
    background-color: var(--bg--color-primary-1);
    margin: 0;
}

.btn-first {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    font-family: var(--font-family--first);
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    padding: 12px 25px;
    text-decoration: none;
    border-style: none;
}

    .btn-first:hover {
        text-decoration: none;
        transition: .3s linear;
    }

.btn-color-first {
    background-color: var(--button--color-primary-1);
    color: var(--font--color-primary-4);
    transition: background-color .3s linear;
}

    .btn-color-first:hover {
        transition: .3s linear;
        background-color: var(--button--color-primary-2);
        color: var(--font--color-primary-4);
    }

.btn-color-second {
    background-color: none;
    color: var(--font--color-primary-2);
    transition: background-color .3s linear;
    border: 1px solid var(--font--color-primary-2);
}

    .btn-color-second:hover {
        transition: .3s linear;
        color: var(--font--color-primary-2);
        background-color: #ffffff;
    }

.btn-round {
    border-radius: 50px;
    padding: 12px 40px;
}
