@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <hr class="log-reg-text-line" />

    <div class="row">

        <div class="col-md-7">
            <div class="log-reg-page">

                <div class="log-reg-block">
                    <h2 class="log-reg-title">Вхід</h2>
                    <hr class="log-reg-text-line" id="short-line" />
                    <p class="log-reg-subtitle">З поверненням!</p>
                    <p class="log-reg-subtitle">Увійдіть до вашого аккаунту!</p>
                </div>

                <form method="post">
                    <div class="log-reg-block">
                        <div asp-validation-summary="All" class="log-reg-valid"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="log-reg-label">
                                Пошта <span class="required">*</span>
                            </label>
                            <input asp-for="Email" class="log-reg-text" />
                            <span asp-validation-for="Email" class="log-reg-valid"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="log-reg-label">
                                Пароль <span class="required">*</span>
                            </label>
                            <input asp-for="Password" class="log-reg-text" />
                            <span asp-validation-for="Password" class="log-reg-valid"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    Запам'ятати мене
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-first btn-color-first btn-round">Вхід</button>
                </form>

            </div>
        </div>

        <div class="col-md-1 separator-line">
            <span class="separator-text">or</span>
        </div>

        <div class="col-md-4">
            <div class="log-reg-page">

                <div class="log-reg-block">
                    <a class="log-reg-title link" asp-controller="Account" asp-action="Register">
                        Реєстрація
                        <hr class="log-reg-text-line" id="short-line" />
                        <p class="log-reg-subtitle">Створіть свій власний аккаунт!</p>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <hr class="log-reg-text-line" />
</div>
