@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <hr class="log-reg-text-line" />

    <div class="row">

        <div class="col-md-8">
            <div class="log-reg-page">

                <div class="log-reg-block">
                    <h2 class="log-reg-title">Your profile</h2>
                    <hr class="log-reg-text-line" id="short-line" />
                    <p class="log-reg-subtitle">This is info about your profile</p>
                </div>

                <div class="log-reg-block-bottom">
                    <div class="form-group">
                        <label asp-for="UserName" class="log-reg-label">
                            UserName
                        </label>
                        <input asp-for="UserName" disabled class="log-reg-text" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="log-reg-label">
                            Country
                        </label>
                        <input asp-for="Country" disabled class="log-reg-text" />
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-1 separator-line"></div>

        <div class="col-md-3">
            <div class="log-reg-page">

                <div class="log-reg-block">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="log-reg-title link">
                            Sign out
                            <hr class="log-reg-text-line" id="short-line" />
                            <p class="log-reg-subtitle">If you wish to leave us</p>
                        </button>
                    </form>
                </div>

                <div class="log-reg-block-bottom">
                    <a class="log-reg-title link" asp-controller="Administration" asp-action="ListRoles">
                        Manage Roles
                        <hr class="log-reg-text-line" id="short-line" />
                        <p class="log-reg-subtitle">Remote all roles</p>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <hr class="log-reg-text-line" />
</div>
