@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <hr class="log-reg-text-line" />

    <div class="row">

        <div class="col-md-8">
            <div class="log-reg-page">

                <div class="log-reg-block">
                    <h2 class="log-reg-title">Мій профіль</h2>
                    <hr class="log-reg-text-line" id="short-line" />
                    <p class="log-reg-subtitle">Тут є вся інформація про ваш аккаунт</p>
                </div>

                <div class="log-reg-block-bottom">
                    <div class="form-group">
                        <label asp-for="UserName" class="log-reg-label">
                            Пошта
                        </label>
                        <input asp-for="UserName" disabled class="log-reg-text" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="log-reg-label">
                            Країна
                        </label>
                        <input asp-for="Country" disabled class="log-reg-text" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="log-reg-label">
                            Права доступу
                        </label>
                        <input asp-for="Role" disabled class="log-reg-text" />
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-1 separator-line"></div>

        <div class="col-md-3">
            <div class="log-reg-page">

                <div class="log-reg-block">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="log-reg-title link">
                            Вихід
                            <hr class="log-reg-text-line" id="short-line" />
                            <p class="log-reg-subtitle">Якщо ви хочете вийти з аккаунту</p>
                        </button>
                    </form>
                </div>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="log-reg-block">
                        <a class="log-reg-title link" asp-controller="Administration" asp-action="ListRoles">
                            Права доступу
                            <hr class="log-reg-text-line" id="short-line" />
                            <p class="log-reg-subtitle"> Керування правами доступу</p>
                        </a>
                    </div>
                }
            </div>
        </div>

    </div>
    <hr class="log-reg-text-line" />
</div>
