@import '../helpers/variables.css';


/**/
.about-us-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: var(--bg--color-primary-4);
    height: 250px;
}

.about-us-title {
    text-shadow: 5px 5px 5px black;
}

/**/
.about-us-body {
    padding: 80px 0 80px;
    background-color: var(--bg--color-primary-3);
}

.about-us-body-2 {
    padding: 80px 0 80px;
    background-color: var(--bg--color-primary-1);
}

.about-us-subtitle {
    color: var(--font--color-primary-3);
    text-align: center;
    padding-bottom: 30px;
}

.about-us-subtitle-2 {
    color: var(--font--color-primary-3);
    text-align: justify;
    padding: 50px 0 30px;
}


.about-us-description-1 {
    margin: 0 auto;
    width: 70%;
    line-height: 1.8em;
    text-align: justify;
    padding-bottom: 50px;
}

.about-us-description-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 570px;
    line-height: 1.8em;
    text-align: justify;
    padding: 0 40px;
}

.about-us-description-3 {
    margin: 0 auto;
    line-height: 1.8em;
    text-align: justify;
    padding-bottom: 50px;
}


.about-us-description-text-1 {
    font-family: var(--font-family--second);
    font-size: 16px;
    margin: 30px 0;
}

.about-us-description-text-2 {
    margin: 5px 0 30px;
}

.about-us-description-text-3 {
    font-family: var(--font-family--second);
    font-size: 20px;
}


/**/


.btn-menu-block {
    padding-top: 20px;
    margin: auto;
}

.about-us-photo {
    max-width: 100%;
    height: auto;
}

