@import '../../img/pizza';
@import '../helpers/variables.css';


.createproducts {
    background: url("../../img/temnaya_derevyannaya_tekstura.png");
    background-size: 100%;
}

/*label {
    font-family: var(--font-family--second);
    color: var(--font--color-primary-4);
}*/
