.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    background-color: var(--bg--color-primary-3);
    border-bottom: 1px solid #d7dee3;
}

.header-logo {
    font-family: var(--font-family--second);
    font-size: 30px;
    color: var(--font--color-primary-3);
}

.header-logo:hover {
    text-decoration: none;
    color: var(--font--color-primary-2);
    cursor: pointer;
}

/*Nav*/

.nav-link {
    display: inline-block;
    margin: 0 10px;
    width: auto;
    font-family: var(--font-family--first);
    font-size: 18px;
    background-color: var(--button--color-primary-1);
    color: var(--font--color-primary-1);
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
}

    .nav-link:hover {
        text-decoration: none;
        cursor: pointer;
        transition: .2s linear;
        background-color: var(--button--color-primary-1);
        color: var(--font--color-primary-2);
    }

        .nav-link:hover:after {
            opacity: 1;
        }

.log-reg-block {
    margin-left: auto;
}

.nav-userlink {
    font-family: var(--font-family--second);
    color: var(--font--color-primary-3);
    text-transform: none;
}

