@import "helpers/variables.css";

#log-reg-body {
    padding: 30px;
}

/*separator-line*/

.separator-line:before {
    display: block;
    border-right: 1px solid #ddd;
    height: 100%;
    position: absolute;
    content: ' ';
    right: 50%;
}

.separator-line:after {
    clear: both;
}

.separator-text {
    position: absolute;
    right: 50%;
    top: 40%;
    transform: translate(50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-style: italic;
    background-color: var(--bg--color-primary-1);
    z-index: 1;
}

/*titles*/
.log-reg-title-block {
    margin-bottom: 50px;
}

.log-reg-title {
    font-family: var(--font-family--third);
    font-size: 35px;
    color: var(--font--color-primary-3);
}

#short-line {
    border: 1px solid var(--button--color-primary-2);
    width: 100px;
    margin-left: 0;
}

.log-reg-subtitle {
    font-family: var(--font-family--third);
    font-size: 21px;
}

/*redirect page*/
.log-reg-title.link {
    display: block;
    height: 100%;
}

    .log-reg-title.link:hover {
        font-weight: 700;
        text-decoration: none;
        color: var(--font--color-primary-2);
    }

/*active form*/
.form-fields{
    margin-bottom:20px;
}

.log-reg-label {
    color: var(--font--color-primary-1);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.required {
    color: var(--font--color-secondary-2);
}

.log-reg-text {
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    outline: 0;
    padding: .563em 1.2em;
    width: 100%;
    margin-bottom: 10px;
}

.log-reg-valid {
    font-family: var(--font-family--third);
    color: var(--font--color-secondary-2);
    font-weight: 700;
}

    .log-reg-valid ul {
        color: var(--font--color-secondary-2);
    }


@media (max-width: 767px) {
    .separator-text {
        top: 0;
    }

    .separator-line {
        height: 50px;
    }

        .separator-line:before {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-right: none;
            width: 100%;
            top: 50%;
            right: 0;
        }
}
