@import '../helpers/variables.css';

#customer-login:before {
    display: block;
    border-right: 1px solid #ddd;
    height: 500px;
    position: absolute;
    content: ' ';
    right: 57%;
}

#customer_login:after {
    clear: both;
}

.or-text {
    position: absolute;
    right: 57%;
    top: 50%;
    transform: translate(50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-style: italic;
    background-color: var(--bg--color-primary-1);
    z-index: 1;
}

.dummy-login {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.log-reg-line {
    width: 95%;
    border: 1px solid var(--font--color-primary-5);
}

#short-line {
    border: 1px solid var(--button--color-primary-2);
    width: 6em;
    margin-left: 0;
}

.log-reg-title {
    color: var(--font--color-primary-3);
    font-family: var(--font-family--third);
}

.before-login-text {
    margin-bottom: 2.143em;
    font-family: var(--font-family--third);
    font-size: 21px;
}

.before-register-text {
    margin-bottom: 1.143em;
    font-family: var(--font-family--third);
    font-size: 21px;
}

.required {
    color: var(--font--color-secondary-2);
}

.form-login {
    display: block;
}

.input-text-login {
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    outline: 0;
    padding: .563em 1.2em;
    width: 90%;
}
.input-text-reg {
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    outline: 0;
    padding: .563em 1.2em;
    width: 90%;
}

#customer-login {
    padding: 2.5em 2.143em;
}

    #customer-login label {
        color: #333e48;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size:18px;
    }
.btn-sign-in {
    margin-top: 20px;
    border-radius: 50px;
    transition: all .2s ease-in-out 0s;
}
.btn-sign-up {
    margin-top: 20px;
    border-radius: 50px;
    transition: all .2s ease-in-out 0s;
}



@media (max-width: 767px) {
    .or-text{
        display:none;
    }
    #customer-login:before {
        display: none;
    }
}