
@import '../helpers/variables.css';

.menu-page {
    background: url("../../img/temnaya_derevyannaya_tekstura.png");
    background-size: cover;
}

.menu-title {
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    padding: 30px;
}

#menu-categories {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
#menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    width: 32%;
    margin: 10px 0;
    border: 2px solid black;
    box-shadow: 0 0 5px 5px black;
    border-radius: 10px;
}

.item-body {
    padding: 0 20px;
    color: var(--font--color-primary-4);
    text-shadow: 5px 5px 5px black;
}

.item-image {
    width: 100%;
}

.item-name {
    text-align: center;
    padding-bottom: 20px;
}

.item-description {
    color: var(--font--color-primary-4);
    height: 120px;
    text-align: justify;
    border-bottom: 2px solid darkgoldenrod;
}

.item-order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 12px;
}

.item-price {
    font-family: var(--font-family--second);
    font-size: 48px;
    color: var(--font--color-primary-2);
    height: 70px;
}

/*.btn-changesize {
    height: 30px;
    padding: 2px 5px;
    background-color: var(--button--color-primary-1);
    color: var(--button--color-primary-2);
    border-color: var(--button--color-primary-2);
    font-size: 14px;
}

    .active, .btn-changesize:hover {
        background-color: var(--button--color-primary-2);
        color: var(--button--color-primary-1);
        border-color: var(--button--color-primary-1);
    }*/

.btn-order {
    padding: 0 20px;
    box-shadow: 5px 5px 5px black;
}

.btns-pagination{
    display:flex;
    justify-content:center;
    padding: 20px;
}