@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
        url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
        url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
        url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sintonybold';
    src: url('../fonts/sintony-bold-webfont.eot');
    src: url('../fonts/sintony-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sintony-bold-webfont.woff2') format('woff2'),
        url('../fonts/sintony-bold-webfont.woff') format('woff'),
        url('../fonts/sintony-bold-webfont.ttf') format('truetype'),
        url('../fonts/sintony-bold-webfont.svg#sintonybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sintonyregular';
    src: url('../fonts/sintony-regular-webfont.eot');
    src: url('../fonts/sintony-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sintony-regular-webfont.woff2') format('woff2'),
        url('../fonts/sintony-regular-webfont.woff') format('woff'),
        url('../fonts/sintony-regular-webfont.ttf') format('truetype'),
        url('../fonts/sintony-regular-webfont.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-awesome */

@font-face {
    font-family: 'fa-brands';
    src: url('../fonts/fa-brands-400.eot');
    src: url('../fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fa-brands-400.woff2') format('woff2'),
        url('../fonts/fa-brands-400.woff') format('woff'),
        url('../fonts/fa-brands-400.ttf') format('truetype'),
        url('../fonts/fa-brands-400.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fa-regular';
    src: url('../fonts/fa-regular-400.eot');
    src: url('../fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fa-regular-400.woff2') format('woff2'),
        url('../fonts/fa-regular-400.woff') format('woff'),
        url('../fonts/fa-regular-400.ttf') format('truetype'),
        url('../fonts/fa-regular-400.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fa-solid';
    src: url('../fonts/fa-solid-900.eot');
    src: url('../fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fa-solid-900.woff2') format('woff2'),
        url('../fonts/fa-solid-900.woff') format('woff'),
        url('../fonts/fa-solid-900.ttf') format('truetype'),
        url('../fonts/fa-solid-900.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}