@mixin font($font-family, $font-size, $color) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
}


@mixin button($background-color){
    background-color: $background-color
  }