// BackGroundColors

$bg--color-primary-1: #ecf1f4;
$bg--color-primary-2: #373844;
$bg--color-primary-3: #ffffff;
$bg--color-primary-4: #fe4c8d;

// Text's colors

$font--color-primary-1: #2c465a;
$font--color-primary-2: #fea812;
$font--color-primary-3: #14141d;
$font--color-primary-4: #ffffff;
$font--color-primary-5: #878d91;
$font--color-secondary-1: #fe4c8d;

// Button's colors

$button--color-primary-2: #fea100;

// Fonts
$font-family--first: 'playfair_displaybold';
$font-family--second: 'sintonybold';
$font-family--third: 'sintonyregular';