@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StreetPizza</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="header-logo" asp-controller="Home" asp-action="Index">
                        StreetPizza
                    </a>
                </div>
                <div class="col-md-9">
                    <nav class="nav">
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a>
                        <a class="nav-link" asp-controller="PayDelivery" asp-action="Index">PayMent and Delivery</a>
                        <a class="nav-link" href="#">
                            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                        </a>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <form method="post" asp-controller="Account" asp-action="Logout" class="log-reg-block">
                                <button type="submit" class="nav-link nav-userlink">
                                    @User.Identity.Name
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <div class="log-reg-block">
                                <a class="nav-link nav-userlink" asp-controller="Account" asp-action="Register">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                        }
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div id="site-footer" class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-3">
                        <div id="navigation" class="widget">
                            <h4 class="widget-title">Navigation</h4>
                            <div class="menu-widget-navigation-container">
                                <ul id="menu-widget-navigation" class="menu">
                                    <li id="menu-item-1" class="menu-item-all">
                                        <a href="#">Home</a>
                                    </li>
                                    <li id="menu-item-2" class="menu-item-all">
                                        <a href="#">About Us</a>
                                    </li>
                                    <li id="menu-item-3" class="menu-item-all">
                                        <a href="#">Menu</a>
                                    </li>
                                    <li id="menu-item-4" class="menu-item-all">
                                        <a href="#">Reservation</a>
                                    </li>
                                    <li id="menu-item-5" class="menu-item-all">
                                        <a href="#">Recipe</a>
                                    </li>
                                    <li id="menu-item-6" class="menu-item-all">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li id="menu-item-7" class="menu-item-all">
                                        <a href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-5">
                        <div id="news_letter" class="widget">
                            <h4 class="widget-title">News letter</h4>
                            <div class="progression-studios-social-icons-widget-container">
                                <div class="progression-studios-social-summary-pro">
                                    Enter your email address for our newsletter
                                    <div id="mc_embed_signup">
                                        <form action="//progressionstudios.us1.list-manage.com/subscribe/post?u=1a06aa3bca8613232881e8a6e&amp;id=2f5a556941"
                                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                                              target="_blank">
                                            <div id="mc_embed_signup_scroll">
                                                <div class="mc-field-group">
                                                    <input placeholder="E-mail address..." type="email" value="" name="EMAIL" class="required email"
                                                           id="mce-EMAIL" />
                                                </div>
                                                <!-- ??? -->
                                                <div id="mce-responses" class="clear">
                                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                                </div>

                                                <div style="position: absolute;left: -5000px">
                                                    <input type="text" name="b_1a06aa3bca8613232881e8a6e_2f5a556941" tabindex="-1" value="" />
                                                </div>
                                                <!-- -- -->
                                                <div class="clear">
                                                    <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe"
                                                           class="button" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="progression-studios-social-widget">
                                    <li>
                                        <a href="https://www.facebook.com/Progression-Studios-1111597885593794/" target="_blank"
                                           class="facebook-pro">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/progression_S" target="_blank" class="twitter-pro">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://google.com" target="_blank" class="google-pro">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-3">
                        <div id="our_app_avilable" class="widget">
                            <h4 class="widget-title">Opening Hours</h4>
                            <ul class="progression-studios-open-hours">
                                <li>
                                    <div class="date-day-pro">Monday</div>
                                    <div class="hours-date-pro">10am - 10pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                                <li>
                                    <div class="date-day-pro">Tuesday</div>
                                    <div class="hours-date-pro">10am - 10pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                                <li>
                                    <div class="date-day-pro">Wednesday</div>
                                    <div class="hours-date-pro">10am - 10pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                                <li>
                                    <div class="date-day-pro">Thursday</div>
                                    <div class="hours-date-pro">10am - 10pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                                <li>
                                    <div class="date-day-pro">Friday</div>
                                    <div class="hours-date-pro">10am - 10pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                                <li>
                                    <div class="date-day-pro">Saturday</div>
                                    <div class="hours-date-pro">9am - 11pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                                <li>
                                    <div class="date-day-pro">Sunday</div>
                                    <div class="hours-date-pro">9am - 11pm</div>
                                    <div class="clearfix-pro"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="copyright-text">
                    2019 ©
                    <a href="https://themeforest.net/user/progressionstudios/portfolio?ref=ProgressionStudios"
                       target="_blank">PROGRESSION STUDIOS</a>. ALL RIGHTS RESERVED
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
                                        // Add active class to the current button (highlight it)
                                        //var header = document.getElementById("btns");
                                        //var btns = header.getElementsByClassName("btn-changesize");
                                        //for (var i = 0; i < btns.length; i++) {
                                        //    btns[i].addEventListener("click", function () {
                                        //        var current = document.getElementsByClassName("active");
                                        //        current[0].className = current[0].className.replace(" active", "");
                                        //        this.className += " active";
                                        //    });
                                        //}
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
