@model Product

<div class="col-md-4">
    <img class="img-thumbnail" src="~/img/" alt="@Model.Name"/>
    <h2> @Model.Name</h2>
    <p>@Model.PriceMedium.ToString("grn")</p>
    <p>
        <a class="btn"> </a>
    </p>

</div>

