@model Product

<div class="menu-item">
    <img class="item-image" src="~/img/pizza/@Model.Img" alt="@Model.Name" />
    <div class="item-body">
        <h2 class="item-name">@Model.Name</h2>
        <p class="item-description">@Model.Ingredients</p>
        <div class="item-order-info">
            <div class="item-price">@Model.PriceLarge</div>
            <a href="#" class="btn-first btn-color-first">В кошик</a>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="item-order-info">
                <a href="#" class="btn-first btn-warning">Редагувати</a>
                <a href="#" class="btn-first btn-danger">Видалити</a>
            </div>
        }
    </div>
</div>