.btn-category {
    font-family: var(--font-family--second);
    font-size: 35px;
    color: var(--font--color-primary-4);
    width: 20%;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    padding: 0;
}

    .btn-category:hover {
        color: var(--font--color-primary-2);
    }

.selected {
    color: var(--font--color-primary-2);
    border: 2px solid var(--font--color-primary-2);
}
