/*categories and pagination*/

.btn-cat-pag {
    font-family: var(--font-family--second);
    font-size: 35px;
    color: var(--font--color-primary-4);
    padding: 0;
    width: 20%;
    transition: color .2s linear;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

    .btn-cat-pag:hover {
        transition: .2s linear;
        text-decoration: none;
        color: var(--font--color-primary-2);
    }

    .btn-cat-pag.selected {
        color: var(--font--color-primary-2);
        border: 2px solid var(--font--color-primary-2);
    }
