@model IEnumerable<string>

<a class="btn btn-warning btn-category"
   asp-controller="Menu" asp-action="Index" asp-route-category="">
    All
</a>

@foreach (string category in Model)
{
    <a class="btn btn-secondary btn-category"
       asp-controller="Menu" asp-action="Index"
       asp-route-category="@category" asp-route-productPage="1">
        @category
    </a>
}
