@model ProductListViewModel

@{
    ViewData["Title"] = "Menu";
}

<div class="menu-page">
    <h1 class="menu-title">Меню</h1>
    <div class="menu-body">
        <div class="container">
            <div id="menu-categories">
                @await Component.InvokeAsync("CategoriesMenu")
            </div>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a href="#" class="btn-first btn-primary">Додати</a>
            }

            <div id="menu-items">
                @{
                    foreach (Product item in Model.Products)
                    {
                        @await Html.PartialAsync("ProductItemGrid", item)
                    }
                }
            </div>
            <div class="btns-pagination" page-model="@Model.PaggingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn-link" page-class-normal="btn-page" page-class-selected="btn-page selected"
                 page-url-category="@Model.CurrentCategory"></div>
        </div>
    </div>
</div>