
@{
    ViewData["Title"] = "Index";
}

<div class="log-reg-page">
    <div class="log-reg-body">
        <div class="container">
            <hr class="log-reg-text-line" />
            <div class="row" >
                <div class="col-1">
                    asdasdasd
                </div>
                <div class="col-2">
                    asdasdagsfgdg
                </div>
            </div>
        </div>
    </div>
</div>